body{
    text-align:center;
    background:powderblue;
    color:white;
    font-family: "Roboto", sans-serif;
}

.main{

    display:flex;
    justify-content: center;
    text-align: center;
    background:#003049;
    border:5px solid white;
    border-radius: 13px;
}
.box{
    padding:10px;
}

.screen{
    color:red;
    background:black;
    margin:10px auto 30px auto;
    height:100px;
    width:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    border-radius:5px;
}

button{
    border:2px solid white;
    background:#003049;
    color:white;
    padding:5px;
    margin:2px;
    border-radius: 5px;
}

.footer{
    margin-top:20px;
}
.footer button{
    padding:10px;
    font-weight: 600;
}
.footer button:hover{
    background:red;
}